/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

.btn-bg-gradient {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-8px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-1 {
    background: #1A0B2E;
}

.bg-2 {
    background: #230E3D;
}

/* Main Styles */

/* header section */

header {
    border: 1px solid #412567;
}

#desktop-nav {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tablet-nav {
    display: none;
}

#mobile-nav {
    display: none;
}

.logo img {
    cursor: pointer;
}

.menu a {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/* Banner Section */
#banner {
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: center;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 101px;
    padding-bottom: 101px;
}

.banner-img {
    background: url("assets/hero-circle.png") no-repeat;
    background-size: cover;
    padding: 69px 75px 81px 75px;
    aspect-ratio: 1 / 1;
    margin-bottom: 40px;
    position: relative;
    animation: imageJump 3s ease-in-out .2s infinite;
}

@keyframes imageJump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.banner-img #badge {
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 60px;
    border-radius: 1000px;
    background: #00FF88;
    padding: 8px 10px;
    color: black;
}

.banner-content h1 {
    font-size: 3.6rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 24px;
    color: #fff;
}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* About Section */

#about {
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-container {
    text-align: center;
}

.about-content {
    width: 65%;
    margin: 0 auto;
    color: white;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 80px;
}

.about-container hr {
    border: 1px solid #FFFFFF;
    margin-bottom: 80px;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-box {
    text-align: center;
}

.info-box h1 {
    font-size: 41px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.info-box p {
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Responsive design */
@media screen and (max-width:992px) and (min-width:576px) {
    .tablet-container {
        width: 90%;
        margin: 0 auto;
    }

    #desktop-nav {
        display: none;
    }

    #tablet-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #banner {
        background-position: center top;
        background-size: 100vw 100%;
    }

    .banner-container {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-content h1 {
        font-size: 2.4rem;
    }

    .banner-img {
        width: 200px;
        height: 200px;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .banner-img #badge {
        position: absolute;
        top: 0px;
        right: 0;
        margin-right: 10px;
        border-radius: 1000px;
        background: #00FF88;
        padding: 8px 10px;
        color: black;
    }

    .about-content {
        width: 90%;
    }

    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .info-box p {
        font-size: 0.7rem;
    }

}

@media screen and (max-width:576px) {
    #desktop-nav {
        display: none;
    }

    .mobile-container {
        width: 94%;
        margin: 0 auto;
    }

    #mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mobile-nav .logo img {
        height: 20px;
    }

    #mobile-nav .menu img {
        height: 24px;
        width: 24px;
    }

    #banner {
        background-position: center top;
        background-size: 100vw 100%;
    }

    .banner-container {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-content h1 {
        font-size: 2.4rem;
    }

    .banner-img {
        width: 200px;
        height: 200px;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .banner-img #badge {
        position: absolute;
        top: 0px;
        right: 0;
        margin-right: 10px;
        border-radius: 1000px;
        background: #00FF88;
        padding: 8px 10px;
        color: black;
    }

    .about-content {
        width: 100%;
    }

    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .info-box p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width:370px) {
    .mobile-container {
        width: 96%;
        margin: 0 auto;
    }
    .banner-btn {
        flex-direction: column;
        gap: 20px;
    }
}