/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

.btn-bg-gradient {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-1 {
    background: #1A0B2E;
}

.bg-2 {
    background: #230E3D;
}

/* Main Styles */

/* header section */

header {
    border: 1px solid #412567;
}

#desktop-nav {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tablet-nav {
    display: none;
}

#mobile-nav {
    display: none;
}

.logo img {
    cursor: pointer;
}

.menu a {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/* Responsive design */
@media screen and (max-width:992px) and (min-width:576px) {
    .tablet-container {
        width: 90%;
        margin: 0 auto;
    }

    #desktop-nav {
        display: none;
    }

    #tablet-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width:576px) {
    #desktop-nav {
        display: none;
    }

    .mobile-container {
        width: 90%;
        margin: 0 auto;
    }

    #mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mobile-nav .logo img {
        height: 20px;
    }

    #mobile-nav .menu img {
        height: 24px;
        width: 24px;
    }
}