/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared styles */

.btn-bg-gradient {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1000px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-8px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-1 {
    background: #1A0B2E;
}

.bg-2 {
    background: #230E3D;
}

#title {
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

/* Main Styles */

/* header section */

header {
    border: 1px solid #412567;
}

#desktop-nav {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tablet-nav {
    display: none;
}

#mobile-nav {
    display: none;
}

.logo img {
    cursor: pointer;
}

.menu a {
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/* Banner Section */
#banner {
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: center;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 101px;
    padding-bottom: 101px;
}

.banner-img {
    background: url("assets/hero-circle.png") no-repeat;
    background-size: cover;
    padding: 69px 75px 81px 75px;
    aspect-ratio: 1 / 1;
    margin-bottom: 40px;
    position: relative;
    animation: imageJump 3s ease-in-out .2s infinite;
}

@keyframes imageJump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.banner-img #badge {
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 60px;
    border-radius: 1000px;
    background: #00FF88;
    padding: 8px 10px;
    color: black;
}

.banner-content h1 {
    font-size: 3.6rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 24px;
    color: #fff;
}

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* About Section */

#about {
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-container {
    text-align: center;
}

.about-content {
    width: 65%;
    margin: 0 auto;
    color: white;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-content p {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 80px;
}

.about-container hr {
    border: 1px solid #FFFFFF;
    margin-bottom: 80px;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-box {
    text-align: center;
}

.info-box h1 {
    font-size: 41px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.info-box p {
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Choose Section */

#choose,
#episodes,
#newsletter,
footer {
    padding-top: 120px;
    padding-bottom: 120px;
}

#card-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    gap: 30px;
    margin-bottom: 30px;
}

.card-1 {
    display: grid;
    width: 380px;
}

#box-1 {
    grid-row: span 2;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-top: 107px;
    padding-bottom: 107px;
}

.card-2 {
    display: grid;
    gap: 30px;
}

#box-2 {
    grid-column: span 2;
    grid-row: span 1;
    width: 790px;
}

#box-3 {
    grid-column: span 1;
    width: 790px;
}

#card-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#box-4 {
    grid-column: span 1;
    width: 790px;
}

#box-5 {
    grid-column: span 1;
    width: 380px;
}

.box {
    padding: 40px;
    background: #35116545;
    border-radius: 40px;
}

.box img {
    margin-bottom: 16px;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.box h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 16px;
}

.box p {
    line-height: 24px;
    color: white;
}

/* Episode Section */

.episode-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.episode-box {
    color: #FFFFFF;
    background: #250D44;
    border-radius: 30px;
}

.episode-img {
    position: relative;
    margin-bottom: 24px;
}

.episode-img #play {
    position: absolute;
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 77px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.episode-img #play:hover {
    transform: scale(1.1);
}

.episode-img #video {
    width: 100%;
}

.episode-content {
    padding-right: 21px;
    padding-left: 21px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.episode-content h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.episode-content p {
    line-height: 24px;
    margin-bottom: 12px;
}

.episode-content h5 {
    display: flex;
    align-items: center;
    color: #00FF88;
    gap: 6px;
}

/* Newsletter Section */

.newsletter-box {
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
    background: #35116550;
    padding: 40px;
    border-radius: 40px;
}

.newsletter-content h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.newsletter-content p {
    line-height: 27px;
    margin-bottom: 16px;
}

.social {
    display: flex;
    align-items: center;
}

.social .icons {
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

/* Footer section*/
footer {
    background: url("assets/footer-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-container {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.footer-container .footer-logo img {
    width: 410px;
    height: 60px;
    margin-bottom: 32px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-icons a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.copy-right p {
    color: white;
}

/* Responsive design */
@media screen and (max-width:992px) and (min-width:576px) {

    .tablet-container {
        width: 90%;
        margin: 0 auto;
    }

    #title {
        font-size: 2.3rem;
    }

    #desktop-nav {
        display: none;
    }

    #tablet-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #banner {
        background-position: center top;
        background-size: 100vw 100%;
    }

    .banner-container {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-content h1 {
        font-size: 2.4rem;
    }

    .banner-img {
        width: 200px;
        height: 200px;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .banner-img #badge {
        position: absolute;
        top: 0px;
        right: 0;
        margin-right: 10px;
        border-radius: 1000px;
        background: #00FF88;
        padding: 8px 10px;
        color: black;
    }

    .about-content {
        width: 90%;
    }

    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .info-box p {
        font-size: 0.7rem;
    }

    #card-1,
    #card-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1);
    }

    .card-1,
    #box-2,
    #box-3,
    #box-4,
    #box-5 {
        width: 100%;
        grid-column: span 1;
    }

    .episode-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .episode-img #play {
        position: absolute;
        bottom: 100px;
        left: 30px;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    .newsletter-box {
        flex-direction: column;
    }

    footer {
        background: url("assets/footer-bg.png") no-repeat;
        background-size: 100vw 100%;
        background-position: center;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .footer-social {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:576px) {
    #desktop-nav {
        display: none;
    }

    #title {
        font-size: 1.8rem;
        color: #fff;
        text-align: center;
        margin-bottom: 40px;
    }

    .mobile-container {
        width: 94%;
        margin: 0 auto;
    }

    #mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #mobile-nav .logo img {
        height: 20px;
    }

    #mobile-nav .menu img {
        height: 24px;
        width: 24px;
    }

    #banner {
        background-position: center top;
        background-size: 100vw 100%;
    }

    .banner-container {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-content h1 {
        font-size: 2.4rem;
    }

    .banner-img {
        width: 200px;
        height: 200px;
    }

    .banner-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .banner-img #badge {
        position: absolute;
        top: 0px;
        right: 0;
        margin-right: 10px;
        border-radius: 1000px;
        background: #00FF88;
        padding: 8px 10px;
        color: black;
    }

    .about-content {
        width: 100%;
    }

    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }

    .about-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .info-box p {
        font-size: 0.7rem;
    }

    #card-1,
    #card-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1);
    }

    .card-1,
    #box-2,
    #box-3,
    #box-4,
    #box-5 {
        width: 100%;
        grid-column: span 1;
    }

    .episode-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .episode-img #play {
        position: absolute;
        /* top: 83px; */
        bottom: 83px;
        right: 5px;
        left: 5px;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    .episode-content h2 {
        font-size: 1.3rem;
    }

    .newsletter-box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 24px;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        background: url("assets/footer-bg.png") no-repeat;
        background-size: 100vw 100%;
        background-position: center;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .footer-logo img {
        width: 219px;
        height: 32px;
    }

    .footer-social {
        flex-wrap: wrap;
        justify-content: center;
    }

    #choose,
    #episodes,
    #newsletter,
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #about {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .banner-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}